<script setup>
import CardGameAPI from "@/api/resources/CardGame.js";
import {ref} from "vue";

  const asuits = ref([]);
  const getSuits = async() => {
    asuits.value = await CardGameAPI.shuffleSuits();
    if (apips !== ref([]) || acards !== ref([])) {
      await sort();
    }
  }

  const apips = ref([]);
  const getPips = async() => {
    apips.value = await CardGameAPI.shufflePips();
    if (asuits !== ref([]) || acards !== ref([])) {
      await sort();
    }
  }

  const acards = ref([]);
  const draw = async() => {
    acards.value = await CardGameAPI.drawHand();
    if (asuits !== ref([]) || apips !== ref([])) {
      await sort();
    }
  }

  const sortedCards = ref([]);
  const sort = async() => {
    const suits = asuits.value;
    const pips = apips.value;
    const cards = acards.value;
    const body = {suits, pips, cards}
    sortedCards.value = await CardGameAPI.sortHand(body);
  }

</script>

<template>
  <div>
    <button @click="getSuits()">Changer l'ordre des couleurs</button>
    <br>
    <span v-for="suit of asuits">
      <img :src="`/cards/${suit}_ACE.png`" :alt="suit + ' '">
    </span>
  </div>

  <hr>

  <div>
    <button @click="getPips()">Changer l'ordre des valeurs</button>
    <br>
    <span v-for="pip of apips">
      <img :src="`/cards/HEARTS_${pip}.png`" :alt="pip + ' '">
    </span>
  </div>

  <hr>

  <div>
    <button @click="draw()">Piocher 10 cartes</button>
    <br>
    <span v-for="card of acards">
      <img :src="`/cards/${card.suit}_${card.pip}.png`" :alt="`${card.suit} ${card.pip}`">
    </span>
  </div>

  <hr>

  <div>
<!--    <button @click="sort()">Trier la main</button>-->
    <h2>Main triée :</h2>
    <span v-for="card of sortedCards">
      <img :src="`/cards/${card.suit}_${card.pip}.png`" :alt="`${card.suit} ${card.pip}`">
    </span>
  </div>
</template>

<style>
</style>
